body {
    background-color: rgb(231, 231, 231);
}

p {
    font-weight: 300!important;
}

h3 {
    font-weight: 300!important;
}

/* Centres and makes the images used in cards cover the entire element */
div.card.card-img-top {
    background-position: center;
    background-size: cover;
}

.darkBG {
    background: rgb(104, 104, 104);
}
.darkerBG {
    background: rgb(59, 59, 59);
}
.darkestBG {
    background: rgb(29, 29, 29);
}
.smallImage {
    width: 30%;
}
.largerCardFont {
    font-size: 18px;
}
.sidePadding {
    padding-left: 25px;
    padding-right: 25px;
}
.margin20 {
    margin-bottom: 20px;
}
.margintop70 {
    margin-top: 70px;
}
.pcpp-part-list {
    color: white;
    background-color: rgb(133, 133, 133);
}
.linkStyle {
    color: white;
}
.linkStyle:hover {
    color: rgb(163, 163, 163);
}